html,body {
  height: 100%;
  margin : 0px;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.full-screen {
  height: 100vh; 
  width: 100vw;
}

.site-header {
  /* for making navbar translucent */
  background-color: rgba(0, 0, 0, .85);
  backdrop-filter: saturate(180%) blur(20px);
}
nav{
  position: absolute;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

.navbar-collapse > ul{
  text-align :center;
}
nav a{
    color : white;
    text-decoration: none;
    margin-right: 10px;
		font-size: 16px;
}

nav a:hover{
  opacity: .5;
  transition: .3s;
  color: whitesmoke;
  text-decoration: none;
}

nav a:active{
  color: whitesmoke;
}

.intro-remote-eng {
    background-color: #ffeb4c;
  }

.re_text_animation_1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  animation: text 3s 1;
}

@keyframes text {
  0% {
    color : black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 5px;
    margin-bottom: -40px;
  }
}

.re_text_animation_2 {
  /* font-size: 60px; */
  letter-spacing: 4px;
  color : #ffeb4c;
  position: relative;
  -webkit-text-stroke: 0.2vw #000000;
  text-transform: uppercase;
}

.re_text_animation_2::before {
  content: attr(data-text);
  position: absolute;
  top : 0;
  left : 0;
  width: 0;
  height: 100%;
  color : #000000;
  -webkit-text-stroke: 0vw  #ffeb4c;
  border-right: 4px solid;
  overflow : hidden;
  animation: animate 7s linear forwards;
}

@keyframes animate
{
  0%{
    width : 0;
  }

  100% {
    width : 100%;
  }

}


.how-we-work{
  background-color:#262626;
  font-size: 32px;
  color: ffeb4c;
  position: relative;
  display: block;
}

.rotate1 {
  animation: rotation1 20s infinite linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.tech-stack{
  height: 100vh;
  background-color: #ffeb4c;
  padding-top: 25px;
  padding-bottom: 25px;
}

.tech-stack-card{
  border-radius: 0px 0px 0px 0px;
  background-color: #000000;
  color : #ffeb4c;
}

.tech-icon {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tech-icon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.icon-Container {
  display: flex;
}
#element-1, #element-2, #element-3, #element-4, #element-5 {
  position: absolute;
  width: 100px;
  height: 100px;
}

#element-1 {
  top: 40%;
  left: 20%; 
}

#element-2 {
  top: 15%;
  left: 30%;
}

#element-3 {
  top: 70%;
  left: 50%;
}

#element-4 {
  top: 50%;
  left: 75%;
}

#element-5 {
  top: 20%;
  left: 65%;
}


.testimonials{
  background-color:#333333;
  color : black;
}


.box{
  width: 500px;
  border-radius: 15px;
  margin: 10px auto;
  background: #faec4b;
  color: #333333;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  position: relative;
  
}

/* right speech bubble */
.right-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #faec4b;
  border-right: 15px solid transparent;
  border-top: 15px solid #faec4b;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}


/* left speech bubble   */
.left-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #faec4b;
  border-top: 15px solid #faec4b;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}



#reveal1, #reveal2, #reveal3 {
  opacity: 0;
  -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
           -o-transform: scale(0.9);
                  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
           -o-transition: all 1s ease-in-out;
                  transition: all 1s ease-in-out;
}
#reveal1.visible, #reveal2.visible, #reveal3.visible {
  opacity: 1;
  -webkit-transform: none;
       -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
                  transform: none;
}

.contact-us{
  background-color:#faec4b;
}


/* Slides scrollmagic CSS starts here */


.slides-h1 {
  margin-bottom: 50% 50% 50% 50%;
  
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  background-color:#262626;
  margin : 0px;
  padding : 0;
}

#slideContainer {
  width: 700%; /* to contain 7 panels, each with 100% of window width */
	height: 100%;
  margin : 0px;
}
.panel {
  height: 100%;
	width: 14.2858%; /* relative to parent -> 25% of 400% = 100% of window width */
	float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero {
  background-color: #333333;
  color: white;
}

.one {
  background-color: #ffeb4c;
  color :#333333;
}
.two {
  background-color: #333333;
  color: #ffeb4c;

}
.three {
  background-color: #ffeb4c;
  color :#333333;

}
.four {
  background-color: #333333;
  color: #ffeb4c;
}

.five {
  background-color: #ffeb4c;
  color : #333333;
}

.six {
  background-color: #333333;
  color: #ffeb4c;
}

.product_iteration_spinner {
    margin: 10%;
    padding: 10%;
  }

.row {
  margin : 0  !important;
}

.banner-on-load {
  background-color: #000000;
  justify-content: end;
  height: 102px;
  background: linear-gradient(90deg, #000000 50%, #faec4b 50%);
  border-bottom: 2px solid #000000;
}

.banner-animation {
  background-color: #000000;
  -webkit-animation: fadeout 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 4s; /* Firefox < 16 */
  -ms-animation: fadeout 4s; /* Internet Explorer */
  animation: fadeout 4s;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout{
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.banner-image {
  width: 500px;
  height: 100px;
}


.tooltip .tooltip-inner{
  max-width:310px;
  padding:10px 8px;
  color: #faec4b ;
  text-align:center;
  background-color : #333333;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  }